.Weather {
  border: 1px solid gray;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  border-radius: 4px;
  color: rgb(153, 156, 160);
}

.Weather h2 {
  color: #353a3e;
  font-size: 24px;
  font-weight: 200;
  line-height: 29px;
  margin: 15px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Weather li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.Weather form {
  margin-bottom: 18px;
}

.Weather .temperature {
  font-weight: bold;
  color: #353a3e;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  color: rgb(153, 156, 160);
  position: relative;
  top: -32px;
  line-height: 1;
}

.Weather .img {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  display: inline-block;
}
