.Weather {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  color: rgb(77, 77, 77);
  max-width: 100%;
  max-height: 500px;
}

.Weather h2 {
  color: #353a3e;
  font-size: 32px;
  font-weight: bold;
  line-height: 29px;
  margin: 15px 0 0 0;
  margin-bottom: 10px;
}

.Weather ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Weather li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.Weather form {
  margin-bottom: 18px;
}

.Weather .temperature {
  font-weight: bold;
  color: #353a3e;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  color: rgb(77, 77, 77);
  position: relative;
  top: -32px;
  line-height: 1;
}

.Weather canvas {
  margin-right: 5px;
  margin-top: 5px;
  display: inline-block;
}
